p {
  font-size: 12px;
  text-decoration: line-through;

}

h1 {
  text-transform: uppercase;
  margin: 20px;
  border-style: dashed;
  border-width: 5px;
  border-color: red;
}

h2 {
  background-color:#888888;
  text-decoration: underline;
  padding: 40px;
}

body {
  font-family: sans-serif;
}

#intro {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.spotlight {
  background-color: #FEFE22;
}

.green {
  color: #006400;
}
